<div class="para">
    <h1 style="padding-left: 200px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Our
        History</h1><br>
    <p
        style="font-size: large; padding-left: 100px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

        VozFonica was founded in 2010, and since then it has <br>experienced significant growth in profit
        and share <br>(currently, the company has a market share of 8.9% in <br> India, up from 5.6% in 2017
        and 3.9% in 2016).<br><br> A growth of 1.36% over the previous quarter was recorded <br>in the number
        of telephone subscribers in India from <br>1,194.58 million at the end of Mar-17 to 1,210.84
        million<br> at the end of Jun-17. In comparison to last year's same<br> quarter,this represents
        14.25% growth year-over-year.
    </p>
</div>
<br><br><br><br><br><br>
<div class="imag"><img src="assets/images/t1.png"></div><br><br>
<br><br>
<h1 style="padding-left: 650px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Our features</h1><br><br><br><br><br>
<div class="txtleft">
<p style="font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    Be the first to hear about the latest plans,<br> billing, and status updates.</p>
</div>
<img src="assets/images/exp1.png" style="margin-left: 330px ;" width="400px" height="300px">
<br><br><br><br><br><br>
<div class="txtright">
    <p style="font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        Deliver superfast data over our broadband<br> and mobile networks and provide an excellent <br>online experience across multiple devices</p>
    </div>
    <img src="assets/images/exp2.png" style="margin-left: 900px ;" width="400px" height="300px">
    <br><br><br><br><br><br>
    <div class="txtleft3">
        <p style="font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Voizfonica's Global Private Line solution offers<br> seamless data and voice transmission across all major <br>geographies with the help of a robust <br>and diverse network. </p>
        </div>
        <img src="assets/images/exp3.png" style="margin-left: 330px ;" width="400px" height="300px">
        <br><br><br><br><br><br>
        <br><br>

        <img src="assets/images/a3.png" width="250px" style="margin-left: 1000px; margin-bottom: -350px;"   >
<div style="background-color: rgb(35,99,243); ">
    <br>
    <br>
<h1 style="color: white; margin-left: 200px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">We Work With the <br>Best Partners</h1>
<p style="color: white;margin-left: 200px; font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">While we are at the forefront of and specialize in services providing,<br> we are very familiar with a number of delivery
    methods and <br>are confident we can find the process that <br>will best help to provide you services .</p>
    <button class="btn default" style="margin-left: 200px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >Reach out to us!</button>
    <br><br><br>

   
</div>