<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<td>
    <img id="team1" src="/assets/images/login.png" />
</td>
<!-- <img style="position:absolute;left: 1000px;top: 150px;width: 8cm;height: 5cm;" id="team1"
    src="/assets/images/101112.png" /> -->

<!-- Login -->
<td style="position:absolute; left:650px; top:250px;">
    <div id="h">
        <form [formGroup]="formuse" (ngSubmit)="signin()">
            <input style="font-size:large ;" type="digit" name="mobilenumber" id="mobilenumber"
                placeholder="Mobile Number" formControlName="mobilenumber2" required />
            <div *ngIf=" f['mobilenumber2'].touched">
                <div *ngIf="f['mobilenumber2'].invalid" class="text-danger">
                    <h6></h6>Match the requirements
                </div>
            </div>
            <h6></h6><br>
            
            <input [type]="changetype2 ? 'password':'text'" style="font-size:large ;" name="password" id="password" placeholder="Password"
                formControlName="password2" required />
                <span class="eyeicon3" (click)="viewpass2()"><i [ngClass]="hide2?'fa fa-eye-slash':'fa fa-eye'" style="font-size:24px ; color:black"></i></span>
            <div *ngIf=" f['password2'].touched">
                <h6></h6>
                <div *ngIf="f['password2'].invalid" class="text-danger">Match the requirements</div>
            </div>
            <br>
            <h6></h6><br>
            <button style="width:7.5cm ;height: 1.3cm; font-size:25px;" type="submit" class="btn btn-success "
                [disabled]="!formuse.valid">Login</button><br><br>

            <a data-toggle="modal" data-target="#forgotpassword">Forgot Pasword?</a>
            <p>New to VoizFonica?<a data-toggle="modal" data-target="#exampleModal"> Sign up </a></p>
        </form>
    </div>
</td>


<!-- Signup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="teama">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel" style="text-align:center;font-size:35px;color: black;">
                    <b>Sign Up</b>
                </h3>
                <h5 style="text-align:center;font-size:25px;color: black;">Join VoizFonica to explore the world</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue" (ngSubmit)="signup()">
                    <div class="form-group">
                        <label style="font-size: 17.5px;color: black;">User Name</label>
                        <span style="color: red;font-size:25px" class="red-star">*</span>
                        <input type="text" formControlName="username" class="form-control" aria-describedby="emailHelp"
                            id="b" placeholder="User Name" style="height:45px ;padding-top: 15px;" required>
                        <div *ngIf=" f1['username'].touched">
                            <div *ngIf="f1['username'].invalid" class="text-danger">
                                <h6></h6>Invalid Username
                            </div>

                        </div>
                    </div>
                    <div class="form-group">

                        <label style="font-size: 17.5px;color: black;">Email ID</label>
                        <span style="color: red;font-size:25px" class="red-star">*</span>
                        <input type="email" formControlName="email" class="form-control" placeholder="Email" id="b"
                            style="height:45px ;padding-top: 15px;" required>
                        <div *ngIf=" f1['email'].touched">
                            <div *ngIf="f1['email'].invalid" class="text-danger">Invalid Email</div>
                        </div>
                    </div>
                    <div class="form-group">

                        <label style="font-size: 17.5px;color: black;">Password</label>
                        <span style="color: red;font-size:25px" class="red-star">*</span>
                        <input [type]="changetype2 ? 'password':'text'" formControlName="password" class="form-control" placeholder="Password"
                            id="b" style="height:45px ;padding-top: 15px;">
                            <span class="eyeicon" (click)="viewpass2()"><i [ngClass]="hide2?'fa fa-eye-slash':'fa fa-eye'" style="font-size:26px ; color:black"></i></span>
                        <div *ngIf=" f1['password'].touched">
                            <div *ngIf="f1['password'].invalid" class="text-danger">Password should contain atleast one
                                number, capital & special character</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-size: 17.5px;color: black;">Mobile Number</label>
                        <span style="color: red;font-size:25px" class="red-star">*</span>
                        <input type="text" formControlName="mobilenumber" class="form-control" placeholder="Mobile"
                            id="b" style="height:45px ;padding-top: 15px;" required>
                        <div *ngIf=" f1['mobilenumber'].touched">
                            <div *ngIf="f1['mobilenumber'].invalid" class="text-danger">Enter valid mobile number</div>

                        </div>

                        <br><br>
                        <a style="font-size:medium ;" (click)="validation2()">Generate OTP</a>
                    </div>
                    <div class="form-group">
                        <label style="font-size: 17.5px;color: black;">One Time Password</label>
                        <span style="color: red;font-size:25px" class="red-star">*</span>
                        <input type="number" formControlName="otp" class="form-control" placeholder="OTP" id="b"
                            style="height:45px ;padding-top: 15px;" required>
                        <div *ngIf=" f1['otp'].touched">
                            <div *ngIf="f1['otp'].invalid" class="text-danger">Enter Valid OTP</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancle" class="btn btn-secondary" data-dismiss="modal"
                            style="border-color:black" (click)="sclose()">Close</button>
                        <button type="submit" class="btn btn-primary" style="border-color:black"
                            data-toggle="modal" data-target="#exampleModal1"
                            [disabled]="!formValue.valid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- forgot password -->
<div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="teama">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel2" style="text-align:center;font-size:35px;color: black;">
                    <b>Reset Password</b>
                </h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="forgot" (ngSubmit)="forgotpas()">
                    <div class="form-group">
                        <label style="font-size: 17.5px;color: black;">Mobile Number</label>
                        <span style="color: red;font-size:25px" class="red-star">*</span>
                        <input type="text" formControlName="mobilenumber3" class="form-control" placeholder="Mobile Number"
                            id="b" style="height:45px ;padding-top: 15px;" required>
                        <div *ngIf=" f2['mobilenumber3'].touched">
                            <div *ngIf="f2['mobilenumber3'].invalid" class="text-danger">Enter valid mobile number</div>

                        </div>
                        <br><br>
                        <a style="font-size:medium ;" (click)="validation()">Generate OTP</a>
                    </div>
                    <div class="form-group">
                        <label style="font-size: 17.5px;color: black;">One Time Password</label>
                        <span style="color: red;font-size:25px" class="red-star">*</span>
                        <input type="number" formControlName="otp2" class="form-control" placeholder="OTP" id="b"
                            style="height:45px ;padding-top: 15px;" required>
                        <div *ngIf=" f2['otp2'].touched">
                            <div *ngIf="f2['otp2'].invalid" class="text-danger">Enter Valid OTP</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-size: 17.5px;color: black;">Password</label>
                        <span style="color: red;font-size:25px" class="red-star">*</span>
                        <input [type]="changetype2 ? 'password':'text'" formControlName="password3" class="form-control" aria-describedby="emailHelp"
                            id="b" placeholder="Password" style="height:45px ;padding-top: 15px;" required>
                            <span class="eyeicon" (click)="viewpass2()"><i [ngClass]="hide2?'fa fa-eye-slash':'fa fa-eye'" style="font-size:26px ; color:black"></i></span>
                        <div *ngIf=" f2['password3'].touched">
                            <div *ngIf="f2['password3'].invalid" class="text-danger">
                                <h6></h6>Password should contain atleast one number, capital & special character
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <label style="font-size: 17.5px;color: black;">Re-Password</label>
                        <span style="color: red;font-size:25px" class="red-star">*</span>
                        <input [type]="changetype ? 'password':'text'" formControlName="repassword" class="form-control" placeholder="Re-enter Password" id="b"
                            style="height:45px ;padding-top: 15px;">
                            <span class="eyeicon1" (click)="viewpass()"><i [ngClass]="hide?'fa fa-eye-slash':'fa fa-eye'" style="font-size:26px ; color:black"></i></span>
                        <div *ngIf=" f2['repassword'].touched">
                            <div *ngIf="f2['repassword'].invalid" class="text-danger">Password should contain atleast one
                                number, capital & special character</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancle" class="btn btn-secondary" data-dismiss="modal"
                            style="border-color:black" (click)="pclose()">Close</button>                    
                        <button type="submit" class="btn btn-primary" style="border-color:black" data-toggle="modal"
                            [disabled]="!forgot.valid" >Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
