<mat-nav-list>
    <div class="profile-card">
        <h2>Admin</h2>
        <h4>admin@voizfonica.com</h4>
        <!-- <img scr="" alt="Photo"> -->
    </div>

    <mat-divider></mat-divider>
    <h2 MatSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/post"><mat-icon>book</mat-icon>Display Plans</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>delete</mat-icon>Delete Plans</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"><mat-icon>edit</mat-icon>Add Plans</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users"><mat-icon>person_outline</mat-icon>Display Users</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/usersDelete"><mat-icon>close</mat-icon>Delete User</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/usersUpdate"><mat-icon>update</mat-icon>Update User</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"><mat-icon>email</mat-icon>Emails</a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->

<mat-divider></mat-divider>

<h2 MatSubheader>Tools</h2>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/emails">
    <mat-icon>email</mat-icon>
    Emails
</a>

<!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
    <mat-icon>question_mark</mat-icon>
    Queries
</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
</a> -->

</mat-nav-list>